.app {
  background-color: #383838;
  color: #fff;
  min-height: 100vh
}

.todo-app {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  padding: 30px;
}

.form-design {
  display: flex;
  align-items: flex-start;
}

ul {
  list-style: none;
}

.list-text {
  background-color: #111;
  width: 100px;
  border-radius: 5px;
  padding: 5px 20px;
}
